.tag-input {
  padding:0.125rem 0.5rem 0.125rem 0.5rem;  
  align-items:center;
  min-height: calc(1.5em + .75rem + 2px);
  height: auto;
}

.tag-input-container {
  padding: 0.125rem
}

.tag-input:focus-within {
  color: #495057;
  background-color: var(--white);
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.tag-input-item {
  padding:0.125rem 0.125rem 0.125rem 0.125rem;
  margin:0.125rem 0 0 0;
  font-size: 0.75rem;
}

.tag-input-editor {
  flex-grow:1;
  outline:none;
  border:none;
  min-width: 2rem;
}