.tag-input {
  padding:0 0.75rem 0 0.75rem;
  align-items:center;
  display:flex
}

.tag-input:focus-within {
  color: #495057;
  background-color: var(--white);
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.tag-input-item {
  padding:0.25rem 0.25rem 0.25rem 0.25rem;
  font-size: 0.75rem;
}

.tag-input-editor {
  flex-grow:1;
  outline:none;
  border:none;
  width:auto;
}